<p>Order ID: <%= @order.id %></p>

<p>Shipping Options:</p>
<ul>
  <% @order.shipping_methods.each do |method| %>
    <li><%= method.amount %> <%= method.description %></li>
  <% end %>
</ul>

<%= link_to 'Create New Order', orders_path, method: 'create' %>
